/*.red-header {
    color: brown;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
*/
.red-header {
    background-color: red;
    color: white; /* Opcional: para garantir que o texto fique visível */
}

.bold-total {
    background-color: red;
    color: white; /* Opcional: para garantir que o texto fique visível */
    font-family: 'Book Antiqua'
}


h1 {
    color: brown;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}