@page "/"

@rendermode InteractiveServer


<div style="display: flex; flex-wrap: wrap;">
    @foreach (var item in Categorias.Where(p => p.Status == true))
    {
        <div style="flex: 1; margin: 10px;">
            <MudCard>
                <MudCardHeader Class="bold-total" >
                    <CardHeaderContent >
                        <MudText Typo="Typo.h6">@item.Nome</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Class="bold-total">@item.TotalDaCategoria.ToString()</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" Href="@item.PaginaDetalhes">Detalhes</MudButton>
                </MudCardActions>
            </MudCard>
        </div>
    }
</div>




@code {
    private List<Categoria> Categorias { get; set; } = new();

    private async Task CarregaCategorias()
    {
        var categorias = await _categoriaService.GetAllCategoriasAsync();

        Categorias?.Clear();

        if (Categorias is null) return;

        foreach (var cliente in categorias)
            Categorias.Add(cliente);
    }

    protected override async Task OnInitializedAsync()
    {
        await CarregaCategorias();
    }

}