@page "/pendencias"
@using System.Net.Http.Json
@inject HttpClient httpClient

@rendermode InteractiveAuto

<h1>ANALISAR PENDENCIAS</h1>


<MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary" Href="/">Voltar</MudButton>
<br />
<br />