@page "/testandogrid"
@using System.Net.Http.Json
@inject HttpClient httpClient

@rendermode InteractiveServer

<style>
    .tooltip .tooltiptext {
        visibility: hidden;
        display: block;
        text-align: center;
        position: absolute;
        
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .onlyForDemo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 125px;
        margin-top: 100px;
    }
</style>
<div class="onlyForDemo-container">

    <!-- Overriding mudtooltip -->
    <MudTooltip IsVisible=@showTooltip IsVisibleChanged=HandleChange>
        <ChildContent>
            <MudText Typo="Typo.body1" @onmouseenter="HandleMouseEnter">Overriding MudToolTip</MudText>
        </ChildContent>
        <TooltipContent>
            <MudLink Href="#" @onmouseleave="HandleMouseLeave" @onmouseenter="HandleMouseEnter"
                     Class="mud-tooltip mud-tooltip-default">
                Go to homepage Link
            </MudLink>

        </TooltipContent>
    </MudTooltip>

    <!-- Creating own tooltip -->
    <MudText Typo="Typo.body1" class="tooltip">
        Creating own tooltip
        <MudLink Href="#" Class="mud-tooltip mud-tooltip-default tooltiptext">
            Go to homepage Link
        </MudLink>
    </MudText>


    <MudTooltip Text="atomic mass">
        <ChildContent>
            abc
        </ChildContent>
        <TooltipContent>
            <div style="font-size:1.7rem;">MY ABC</div>
        </TooltipContent>
    </MudTooltip>

    <MudTooltip>
        <ChildContent>
            <MudIconButton Icon="@Icons.Material.Filled.Delete" />
        </ChildContent>
        <TooltipContent>
            <MudText Typo="Typo.h6">h6 title</MudText>
            <MudText Typo="Typo.body2">body2 content</MudText>
            <MudIcon Icon="@Icons.Material.Filled.Star" />
        </TooltipContent>
    </MudTooltip>


</div>



@code {
    bool showTooltip = false;

    void HandleChange(bool newValue)
    {
        // do nothing to override the default implementation
        //showTooltip=newValue;
    }
    void HandleMouseLeave()
    {
        showTooltip = false;
    }
    void HandleMouseEnter()
    {
        showTooltip = true;
    }
}